<div class="row 
            ps-n3 pe-n3
            ms-n3 me-n3
            pt-3 gy-3
            ">
    <div class="col p-0 m-0">
    {{popular}}
    </div>
</div>

<div class="mt-5 ">
    <h1 class="text-center ms-n3 me-n3 ps-n3 pe-n3 font-scale-5">Popular</h1>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom"></div>

<div class="row 
            ps-lg-5 pe-lg-5 
            pe-md-4 ps-md-4 
            pe-sm-3 ps-sm-3 
            pe-xs-2 ps-xs-2
            pt-3 gy-3">
{{content}}
</div>