    <div class="row pt-3">
        <h1 class="text-white">
            {{project_name}}
        </h1>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom"></div>
    <div class="row pt-2">
        <h3 class="text-white">
           {{project_elevator_pitch}}
        </h3>
    </div>
    <div class="row pt-2">
        <div class="col">
            <h3 class="text-white">Contacts:</h3>
            <div class="row ps-4">
                <h4 class="text-white dot">Name: {{author_name}}</h4>
            </div>
            <div class="row ps-4">
                <h4 class="text-white dot">Email: {{author_email}}</h4>
            </div>
            <div class="row ps-4">
                <h4 class="text-white dot">Phone: {{author_phone}}</h4>
            </div>
        </div>
        
    </div> 
    <div class="row pt-5">
        <h5 class="text-white">
            {{project_description}}
        </h5>
    </div>