<div class="col">
    <div class="row pt-3">
        <h1 class="text-white">
            {{project_name}}
        </h1>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom"></div>
    <div class="row pt-2">
        <h3 class="text-white">
           {{project_elevator_pitch}}
        </h3>
    </div>
    <div class="row pt-2">
        <h3 class="text-white">Contacts:</h3>
        <div class="row ms-4">
            <h4 class="col-2 text-white">Name:</h4>
            <h4 class="col-auto text-white">{{author_name}}</h4>
        </div>
        <div class="row ms-4">
            <h4 class="col-2 text-white">Email:</h4>
            <h4 class="col-auto text-white">{{author_email}}</h4>
        </div>
        <div class="row ms-4">
            <h4 class="col-2 text-white">Phone:</h4>
            <h4 class="col-auto text-white">{{author_phone}}</h4>
        </div>
    </div> 
    <div class="row pt-5">
        <h5 class="text-white">
            {{project_description}}
        </h5>
    </div>
</div>